<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CQQCH"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXRYteELnxnpd4IZqpiuQUIdsgsPaFEBU" />

        <activity
            android:name=".actividades.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EditRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EditRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.AcercaDeActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PoliticaPrivacidadActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.MisFavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.SelectImagePerfilActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.VerRestaurantePedirActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.AddRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.VerRecetasActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.AddRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.VerRestaurantesActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.AjustesActivity"
            android:exported="false" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".actividades.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EligeTuActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PedirActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CocinarActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.IrActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.IniciarSesion"
            android:exported="true"
            android:theme="@style/Theme.CQQCH" />
        <activity
            android:name=".actividades.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".actividades.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>